@using SalesManagement.MvcApplication
@model SalesManagement.MvcApplication.ViewModels.Order.ClientsViewModel

@{
    
    ViewBag.Title = GlobalConstants.TitlePrefix + "Clients";
}

@section Head
{
    <link rel="stylesheet" type="text/css" href="~/Content/Stylesheets/_Shared/_EntityList.css"/>
    <link rel="stylesheet" type="text/css" href="~/Content/Stylesheets/Order/Clients.css"/>
}

@section MainContent{
    <h2>
        Clients
    </h2>
    @foreach (var client in Model.Clients)
    {
        <div class="entityListItem">
            <div class="bottomBordered">
                <div class="name"><h4 >@Html.ActionLink("Client #"+@client.UniqueId,"EditClient","Order",new {id=client.UniqueId},new {title="Edit this client"})</h4></div>
                <div class="deleteLink">
                    @Html.ActionLink("Delete","DeleteClient","Order",new {id=client.Id},null)
                </div>
            </div>
            <div class="additionalInfo">
                <div class="fullName">
                    <span class="lastName">@client.LastName</span>
                    <span class="firstName">@client.FirstName</span>
                </div>
                <div class="phoneNumber">
                    <span class="phone">+@client.Phone</span>
                </div>
            </div>
            
            
        </div>
    }
}