div#matchingClients {
    position: relative;
}

div.popupWindow {
    position: absolute;
    width: 400px;
    top: -10px;
}

div.popupWindow span.narrow {
    font-size: 15px;
}

div.popupWindow div.post {
    border: 3px double #B55100;
    margin: 0;
    padding: 10px;
}
a#previousClient, a#nextClient {
    padding: 5px;
    background-color: #FFC895;
    border-radius: 5px;
}

a#previousClient {
    float: left;
}
a#nextClient {
    float: right;
}

a#clientIterator {
    padding: 5px;
    font-size: 15px;
}

div.popupWindow p.links {
    margin-top: 10px;
    padding: 0;
    float: left;
    width: 100%;
}

div.popupWindow div.entry {
    padding: 0;
}

div.popupWindow a {
    text-decoration: none;
}

div.popupWindow h2 a {
    cursor: default;
}

div.popupWindow h2.title {
    padding: 0;
    float: left;
}

div.popupWindow .post .meta {
    padding: 0;
}

img#chooseThisClient {
    float: left;
    margin-right: 5px;
    margin-left: 5px;
}
div.withImage {
    float: left;
}

div.left {
    float: left;
}
div.right {
    float: right;
}