div.summary {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 3px double #B55100;
    font-size: 20px;
    background-color: #FFEEDF;
}

div.summary-item {
    margin-top: 5px;
    margin-bottom: 5px;
}

span.summary-item-title {
    font-weight: bold;
}