div.bottomBordered {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    border-bottom-color: #6F6978;
    margin-bottom: 5px;
    float: left;
}

div.fullName{
    font-size: 14px;
    text-transform: capitalize;
}

div.heading span {
    font-weight: bold;
}



div.name h4 span.clientName {
    color: #C95B01;
}

