div.entityListItem.unpaid {
    background-color: #FFE6E6;
}

div.entityListItem.delivered {
    background-color: #D7FFD5;
}

div.entityListItem.paid {
    background-color: #FFECD5;
}

div.IDs {
    margin-bottom: 5px;
    /*font-size: 13px;*/
    float: left;
    width: 100%;
    font-weight: bold;
}

span.clientName {
    color: #FEA55C;
}

span.productName {
    color: #C95B01;
}

span.delivered {
    color: green;
}

span.paid {
    color: #FFAC00; /*#FFE991*/
}

span.unpaid {
    color: #CC0000;
}

div.entityListItem h4 a:hover span.status.paid {
    color: #FF7900;
}

div.IDs span.client {
    float: left;
}

div.IDs span.product {
    float: right;
}

div.deliveryInfo span.infoItem {
    padding: 5px;
    margin-right: 5px;
    float: left;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.05);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#0B000000, endColorstr=#0B000000);/* For IE 5.5 - 7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0B000000, endColorstr=#0B000000)";/* For IE 8*/
}