@using SalesManagement.MvcApplication
@model SalesManagement.MvcApplication.ViewModels.Product.CategoriesViewModel

@{
    
    ViewBag.Title = GlobalConstants.TitlePrefix + "Categories";
}

@section Head
{
    <link rel="stylesheet" type="text/css" href="~/Content/Stylesheets/_Shared/_EntityList.css"/>
}

@section MainContent{
    <h2>
        Categories
    </h2>
    @foreach (var category in Model.Categories)
    {
        <div class="entityListItem">
            <div class="name"><h4 >@Html.ActionLink(@category.Name,"EditCategory","Product",new {id=category.Id},new {title="Edit this category"})</h4></div>
            <div class="deleteLink">
                @Html.ActionLink("Delete","DeleteCategory","Product",new {id=category.Id},null)
            </div>
        </div>
    }
}