div.entityListItem {
    padding: 1%;
    border-radius: 5px;
    background-color: #FFEEDF; /*min-height: 70px;*/
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
    width: 98%;
}

div.entityListItem:hover {
    background-color: #FFE3CA;
}

/*div.entityListItem span {
    display: block;
}*/

div.entityListItem div.name {
    float: left;
    /*width: 70px;*/
}

div.editLink, div.deleteLink {
    text-align: right;
}
div.entityListItem div a {
    display: block;
}

div.entityListItem div.deleteLink {
    width: 50px;
    float: right;
}

div.additionalInfo {
    /*background-color: rosybrown;*/
}