div.entityListItem {
    padding: 1%;
    border-radius: 5px;
    background-color: #FFEEDF; /*min-height: 70px;*/
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
    width: 98%;
}

div.entityListItem:hover {
    background-color: #FFE3CA;
}

div.entityListItem div.name {
    width: 587px;
    float: left;
}

div.editLink, div.deleteLink {
    text-align: right;
}

div.entityListItem div a {
    display: block;
}

div.entityListItem div.deleteLink {
    width: 50px;
    float: right;
}

div.entityListItem h4 a {
    color: #6F6966;
    text-decoration: none;
    padding: 3px;
}

div.entityListItem h4 a:hover {
    background-color: #FFC895;
    border-radius: 5px;
}



div.deleteLink {
    width: 50px;
    text-align: center;
}

div.deleteLink a {
    padding: 3px 5px 3px 5px;
}

div.deleteLink a:hover {
    background-color: #FFC895;
    font-weight: bold;
    border-radius: 3px;
}