div#profilePhoto
{
    float: left;
    width: 100px;
    text-align: center;
    height: 100%;
}
div#profileDetails
{
    margin-left: 120px;
}

div.profileArea {
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    background-color: #FFEEDF;
    margin-bottom: 15px;
}

div#profileInfo {
    min-height: 150px;
}



div#profileLinks {
    text-align: right;
}

div#profilePhoto img
{
    border-radius: 3px;
    box-shadow:  0px 0px 10px #8f5038;   
}
div#login
{
    color: #800000;
    font-size: 30px;
    font-weight: bold;
}
div#gender
{
    float:left;
    margin-right: 1%;
}
div#fullName
{
    font-size: 20px;
    color: #8D8D8D;
    margin-bottom:2%;
}
div#roles span
{
    display: block;
    font-size: 12px;
    margin-left:3%;
}

div#profileLinks a {
    display: block;
    padding: 5px;
}

div#employeeArea, 
div#managerArea, 
div#adminArea {
    margin-top: 15px;
    margin-bottom: 15px;
    /*padding: 10px;
    border-radius: 10px;
    background-color: #FFEEDF;*/
}

div.subArea {
    background-color: #FFF5EC;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
}

div.subArea h4 {
    border-width: 1px;
    border-color: #FFC997;
    margin-top: 0;
    margin-bottom: 5px;
    border-bottom-style: dashed;
}

div.debug {
    opacity: 0.5;
}


div.debug:hover {
    opacity: 1;
}

div.subArea a:hover {
    background-color: rgba(111, 105, 102, 0.1);
}


div#charts {
    margin-top: 20px;
    margin-bottom: 20px;
}
div#salesChart{
    border-radius: 5px;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.5);
    height: 300px;
    margin-top: 15px;
}


div#chartsMenu {
    text-align: center;
}

/*div#chartsMenu div,*/
.notchosenbutton {
    background-position: bottom;
    /*border: 1px solid #C4742E;*/
    display: inline-block;
    background-image: url('../../Images/button-sprite.png');
    background-color: #FFE1C7;
    border-radius: 5px;
    margin: 5px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    background-repeat: repeat-x;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.5) /* #C4742E*/;
}


div#chartsMenu div:hover,.chosenbutton{
    background-position: bottom;
    display: inline-block;
    background-image: url('../../Images/button-sprite-hover.png');
    background-color: #FFEFDB;
    border-radius: 5px;
    margin: 5px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    background-repeat: repeat-x;
    cursor: pointer;
    /*box-shadow: 2px 2px 5px 1px rgba(100, 100, 100, 0.5) ;*/
}

.chosenbutton {
    border: 1px solid #C4742E;
    box-shadow: none;
}


