div#matchingProducts h2.title {
    font-size: 20px;
}

span.productName {
    color: #6F6966 !important;
}

span.categoryName {
    font-size: 12px;
    display: block;
}

div.entry p span.subtitle {
    font-weight: bold;
}

span.currentProductCharacteristic {
    /*padding-right: 5px;*/
    margin-right: 10px;
    background-color: #FFE3CA;
    padding: 2px;
    border-radius: 5px;
}