div.category {
    padding: 1%;
    border-radius: 5px;
    background-color: #FFEEDF; /*min-height: 70px;*/
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
    width: 98%;
}

div.category:hover {
    background-color: #FFE3CA;
}

div.category span {
    display: block;
}

div.category div.name {
    float: left;
    /*width: 70px;*/
}

div.editLink, div.deleteLink {
    text-align: right;
}
div.category div a {
    display: block;
}

div.category div.deleteLink {
    width: 50px;
    float: right;
}