/*div.productName{
    font-size: 14px;
    margin-bottom: 5px;
}*/

/*div.category {
    font-size: 13px;
}*/

div.name h4 span.status {
    /*font-size: 5px;*/
    text-decoration: none;
    /*font-weight: normal;*/
}

div.name h4 span.productName {
    color: #c25700;
}

span.available {
    color: green;
}

span.temporaryUnavailable {
    color: #FFAC00; /*#FFE991*/
}

span.unavailable {
    color: #CC0000;
}

div.entityListItem h4 a:hover span.status.temporaryUnavailable {
    color: #FF7900;
}

/*span.amountLeft {
    /*font-size: 10px;
    /*float: right;
}*/





/*div.price {
    float: right;
    padding: 3px;
    text-align: center;
    margin-right: 10px;
}*/




/*div.productName span.name {
    color: #44403E;
    font-weight: bold;
}

div.productName span.categoryName {
    color: #C25700;
}*/

span.number {
    font-size: 14px;
    font-weight: bold;
}

div.heading span.left {
    font-weight: bold;
    font-size: 14px;
}

div.productCharacteristics {
    margin-bottom: 3px;
}

span.productCharacteristic {
    margin-right: 5px;
}

span.productCharacteristic span.characteristicName {
    font-weight: bold;
}

div.productDescription span.name {
    font-weight: bold;
}

div.entityListItem.available img.available,
div.entityListItem.temporaryUnavailable img.temporaryUnavailable,
div.entityListItem.unavailable img.unavailable{
    opacity: 0.1;
}

div.entityListItem.available {
    background-color: #E3EDDC;
   
}
div.entityListItem.temporaryUnavailable {
    background-color: #FFEED5;
}
div.entityListItem.unavailable {
    background-color: #F9E6E3;
}