div.productName{
    font-size: 14px;
    margin-bottom: 5px;
}

div.category {
    font-size: 13px;
}

div.productName a span.status {
    font-size: 12px;
    text-decoration: none;
    font-weight: normal;
}

span.available {
    color: green;
}

span.temporaryUnavailable {
    color: #FFAC00; /*#FFE991*/
}

span.unavailable {
    color: #CC0000;
}

div.entityListItem h4 a:hover span.status.temporaryUnavailable {
    color: #FF7900;
}

/*span.amountLeft {
    /*font-size: 10px;
    /*float: right;
}*/





div.price {
    float: left;
    width: 281px;
    padding: 3px;
    text-align: center;
}

div.name {
    width: 300px !important;
}

div.productName span.name {
    color: #44403E;
    font-weight: bold;
}

div.productName span.categoryName {
    color: #C25700;
}

div.price span.number,span.amountLeft span.number {
    font-size: 14px;
    font-weight: bold;
}

div.productCharacteristics {
    margin-bottom: 3px;
}

span.productCharacteristic {
    margin-right: 5px;
}

span.productCharacteristic span.characteristicName {
    font-weight: bold;
}

div.productDescription span.name {
    font-weight: bold;
}